*{
    text-decoration: none;
    font-family: sans-serif;
    text-decoration: none;
}
.navbar{
    background-color: #1F2937;
   
    
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    
    
}
ul{
    list-style-type: none;
   
}
li{
    display: inline-block;
    
}
.logo{
    font-size: 36px;
    font-weight: bold;
    margin-left: 10px;
    padding: 15px;
}
a{
    color: white;
}
.hero{
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    height: 140px;
    justify-content: space-around;
    flex-wrap: wrap;
   
    
   
}
.item{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 230px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
}
button{
    background-color:#3882f6;
    border-radius: 10px;
}
.container{
    display: flex;
 justify-content: space-around;
 padding-top: 25px;
 padding-bottom: 25px;
 gap:16px;
}
.Portfolio{
    display: flex;
    align-items: center;
 justify-content: space-around;
}
.info{
    border: 2px solid lightblue;
    justify-content: space-around;
    padding-top: 10px;
}
.text{
    padding: 10px;
}
.About{
    background-color:#e5e7eb;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter; 

}
.content{
    background-color: #3882f6;
    width: fit-content;
    height: 50px;
    padding-top: 25px;
    margin: 10px;
}
.footer{
    background-color: #1F2937;
}
.main{
    display: flex;
    gap: 160px;
    justify-content: center;
    border-radius: 8px;
    padding: 20px;
    align-content: center;

}
